server:
  port: 8013


spring:
  application:
    name: spring-cloud-stream-rabbitmq-sink
  cloud:
    stream:
      bindings:
        demo:
          destination: demo
          group: demo
          binder: rabbitmq
          consumer:
            partitioned: true
            instance-index: ${INSTANCE-INDEX}
      binders:
        rabbitmq:
          type: rabbit
          environment:
            spring:
              rabbitmq:
                host: rabbitmq-node-2
                port: 5672
                username: admin
                password: Admin@123
  boot:
    admin:
      client:
        url: "http://admin-server:8585"

  rabbitmq:
    host: rabbitmq-node-2
    port: 5672
    username: admin
    password: Admin@123

management:
  endpoints:
    web:
      exposure:
        include: "*"